#game{
    width: 100vw;
    min-height: 100%;
    height: auto;
    background-color: #BDD2B6;

    nav{
        background-color: #F8EDE3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        overflow: hidden;
        width: 100%;
        height: 50px;

        #nav-image{
            width: auto;
            height: 50px;
        }
    }

    #gameTopic{
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 30px auto;
        width: 90%;
        max-width: 1500px;
        height: auto;
        
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px;
            height: 350px;
            width: 300px;
            background-color: #F8EDE3;
            border: 3px solid #798777;
            box-shadow: 10px 10px 15px #A2B29F;

            &:hover{
                cursor: pointer;
                background-color: #7987775e;
                transition: all 1s;
            }

            &:not(:hover){
                transition: all 1s;
            }

            .topic-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                width: 100%;

                img{
                    max-width: 80%;
                }
            }

            .topic-title{
                width: 100%;
                height: 15%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                border-top: 3px solid #798777;

            }
        }
    }

    #footer{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        bottom: 0;
        background-color: #798777;
        h3{
            color: #F8EDE3;
        }
        i{
            margin-left: 5px;
            color: #F8EDE3;
        }
    }
}