@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
$backgroundColor: #F8EDE3;

.app{
    width: 100vw;
    height: 100vh;
    background-color: $backgroundColor;
    font-family: 'Quicksand', sans-serif;
}